@import "setup";
@import "utils";
@import "typography";

$accent: #2bdad3;
$text: #2b2e2f;
$gray: #717779;
$background:#f8f8f8;
$white: #fff;


//GENERAL STYLES
#about, #skills, #footer {
    background: $background;    
}
#projects {
    background: white;
}

#contact, 
#footer {
    background: $text;
}

.wrapper {
    max-width: 1920px;
    margin: 0px auto;
}

.inner-wrapper{
    max-width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.inner-wrapper.skills {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 10%;
    padding-bottom: 50px;
}

.inner-wrapper.skill-header {
    padding: 0;
}


.chevron {
    display: block;
    width: 100%;
    text-align: right;
    @media (max-width: 1200px) {
            text-align: center;
            margin: 0 auto;  
        }

    a {
        transition: all 0.3s ease-in-out;
        &:hover{
            color:$accent;
        }
    }
}



.footer .inner-wrapper {
    .chevron {
        text-align: right;  
        a {
            &:hover{
                color:$background;
            }
        }
    }
}

body {
    background: $background;
    color: $text;
}
// END OF GENERAL STYLES

.header {
    background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 45%,
      rgba(248, 248, 248, 1)), url('/assets/scott-webb-272211-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 


    &__intro {
        margin: 20% auto;  
        padding: 0; 

        @media (max-height: 800px) and (orientation: landscape) {
            margin: 0 auto;
            margin-top: 100px;
        }

        @media (max-height: 360px) and (orientation: landscape),
        (max-height: 414px) and (orientation: landscape) {
            margin: 0 auto;  
            margin-top: 20px;
        }
        
         @media (max-width: 320px) and (orientation: portrait) {
            margin: 0 auto;  
        }

        &--text{
            margin-top: 15%;
            margin-left: 100px;
            @media (max-width: 1200px) {
                text-align: center;
                margin: 0 auto;  
            }
        }

        &--icon-container {
            margin-left: 100px;
            @media (max-width: 1200px),
            (max-width: 414px), 
            (max-height: 414px) and (orientation: landscape),
            (max-width:600px) and (orientation: portrait) {
                text-align: center;
                margin: 0 auto;
            }
            a {
                display:inline-block;
            }

            i {
                padding: 15px;
                margin: 15px;
                border: 2px solid $text;
                color: $text;
                border-radius: 50%;
                opacity: 0.7;
                transition: all 0.3s ease-in-out;
               
                &:hover, 
                &:focus {
                    color: $accent;
                    border: 2px solid $accent;
                    opacity: 1;
                    transform: scale(1.1);
                    }
                @media (max-height: 360px) and (orientation: landscape) { 
                    margin: 10px;
                    }
                }
            }
        }
    &__nav {
        background: linear-gradient(rgba(255, 255, 255, 0.7)); 
        position: relative;

        .inner-wrapper {
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }

        &--logo {
            padding-top: 10px;

            img {
                width: 100%;
                @media (max-width: 700px),(max-height: 638px) {
                    width: 75%;
                    }
                @media (max-width: 530px) {
                    width: 50%;
                    }
                @media (max-height: 414px) and (orientation: landscape) {
                    width: 48%;
                    margin: 0;    
                    }
                }
            }

        &--links.dropdown {
            list-style-type: none;
            display: flex; 
            justify-content: flex-end;
            align-items: center;
            transition: all 0.8s ease-in-out;
            a {
                display:block;
            }
            
            @media (max-width: 700px),  (max-height: 414px) and (orientation: landscape) {
                display:none;
                padding: 0;
                min-width: 100%;
                background: linear-gradient(rgba(255, 255, 255, 0.7)); 
                position: absolute;
                top: 71%;
                left: 0;
                right:0;
                text-align: center;
                transition: all 0.3s ease-in-out;
                li:hover,
                li:focus {
                    background: lighten($accent, 20%);
                    margin: 0;
                    padding: 0;
                }
                .links {
                    &::after {
                        content: '';
                        display: none;
                    }
                }
                
                @media (max-width: 414px) {
                    top: 65%;
                }

                @media (max-height: 414px) and (orientation: landscape) {
                    top: 58%;
                }
                @media (max-width: 320px) and (orientation: portrait) {
                    top: 68%;
                }

                @media (max-width:600px) and (orientation: portrait) {
                    top: 74%;
                }

                @media (max-width: 525px) and (orientation: portrait) {
                    top: 65%;
                }
            }
        }
    
        
        &--responsive-nav {
            display:none;
            @media (max-width: 700px),  (max-height: 414px) and (orientation: landscape) {
                display:block;
            }                       
            
            i {
                color: $accent;
                display: block;
            }

            #menu {
                display:none;
                @include font-size(55);
                @media (max-width: 700px),  (max-height: 414px) and (orientation: landscape) {
                    display:block;
                }
                @media (max-width: 530px),
                (max-height: 414px) and (orientation: landscape), (max-height: 638px) {
                    @include font-size(35);
                    margin-right: 20px;
                }

            }

            #close {
                display:none;
                margin-right: 20px;
                @include font-size(65);
                @media (max-width: 530px),
                (max-height: 414px) and (orientation: landscape), (max-height: 638px)  {
                    @include font-size(45);
                }
            }          
        }
    }
}

.main__section--about {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1100px) {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    &--intro{
        width: 75%;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 5px;
        h5, p {
            @media (max-width: 1100px) {
                text-align: center;
            }
        }
    }
    &--img {
        width: calc(25% - 30px);
        margin: 0 15px;
        padding:0;
            
        @media (max-width: 600px) {
           width: 50%;
           padding-bottom: 15px;
        }

        @media (max-width: 384px) {
           width: 40%;
        }

        img {
            width: 100%;
            box-shadow: 0 10px 0 $accent;
        }
    }
    .responsive-hide-intro{
        @media (max-width: 600px) {
           display:none;
        }
        
    }
}

.main__section--projects {
    &--project {
        display: flex;
        width: 100%;
        padding: 50px;
        @media (max-width: 1200px) {
            flex-direction: column;
        }
        @media (max-width: 900px) {
            width: 100%;
            padding:0;
        }

        img {
            width: 100%;
            padding: 0;
        }

        .primary {
            width: 60%;
            margin: 0 25px;

            @media (max-width: 1200px) {
                width: 75%;
                margin: 0 auto;
                padding: 0;
            }

            @media (max-width: 900px) {
                width: 85%;
            }           
            @media (max-width: 700px) {
                width: 90%;
            }
            @media (max-width: 530px) {
                width: 95%;
            }
            @media (max-width: 384px) {
                width: 100%;
            }
        }
        .secondary {
            width: 40%;
            margin: 15px 25px;
            padding: 25px;
            background: $background;
            box-shadow: 0 10px 0 $accent;
            @media (max-width: 1200px) {
                width: 100%;
                margin: 0 auto;
                padding-bottom: 50px;
            }
            @media (max-width: 900px) {
                width: 100%;
                padding: 0 25px 50px 25px;
                margin-bottom: 50px;
            }
        }

        .responsive-show-image{
            display:none;
            @media (max-width: 1200px) {
                display:block;
            }
        }
        .responsive-hide-image{
            @media (max-width: 1200px) {
                display:none;
            }
        }
    }
}

.main__section--skills {
    .responsive-hide-skills{
        @media (max-width: 900px) {
            display:none;
            }
        }
    .responsive-show-skills{
        display:none;
        ul {
            width: 100%;
            list-style-type: none;  
        }

        i {
            width: 5%;
        }

        img {
            width: 4%;
        }

        @media (max-width: 900px) {
            display:block;   
        }
    }

    &--row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    &-icons{
        border: 1px solid $accent;
        background: white;
        box-shadow: 0 4px 0 $accent;
        font-size: 100px;
        display: inline-block;
        padding: 0 50px;
        margin: 15px auto;
        opacity: 0.85;
        transition: all 0.3s ease-in-out;
        position: relative;

        img{
            height: 100px;
            width: 100px;
        }
    }
    &-text{
        background: $gray;
        color:$background;
        @include font-size(22);
        text-align: center;
        margin:0 auto;
        padding: 0;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
    }
}

.main__section--contact {
    color: $accent;
    .inner-wrapper {
        margin: 0 auto;
    }
    
    .footer__intro {
        display:flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &--form,
        &--contact {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 0;
            @media (max-width: 900px){
                width: 100%;
            }
        }

        &--contact { 
            width: 15%; 
            @media (max-width: 900px){
                flex-direction: row;
                width: 100%;
                justify-content: center;
            }
            a {
                display:inline-block;
            }

            i {
            padding: 15px;
            margin: 15px;
            border: 2px solid $gray;
            color: $gray;
            border-radius: 50%;
            opacity: 0.7;
            transition: all 0.3s ease-in-out;
                &:hover, &:focus {
                color: $accent;
                border: 2px solid $accent;
                opacity: 1;
                transform: scale(1.1);
                }
            @media (max-width: 414px){
                margin: 5px;
                }
            }  
        }

        &--form {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            @media (max-width: 900px){
                width: 100%;
            }

            input, textarea, input[type=submit]{
                background: $text;
                margin: 10px 0;
                transition: all 0.3s ease-in-out;
                width: 100%;
                &:hover,
                &:focus {
                    border-bottom: 3px solid $accent;
                }
            }

            input {
                border:none;
                border-bottom: 2px solid $gray;
            }

            textarea{
                border: 2px solid $gray;
                &:hover,
                &:focus {
                    border: 3px solid $accent;
                }
            }

            input[placeholder], textarea[placeholder] {
                color: $gray;
                text-transform: capitalize;
            }

            input[type=submit]{
                width: 100%;
                border: 2px solid $accent;
                color: $accent;
                
                &:hover,
                &:focus {
                    background: $accent;
                    color: $text;
                }
            }

            
        }
    }
}

.footer {
    margin: 0 auto;
    padding: 0;
    color: $accent;
    text-align: center;
}